<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/smithz852/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="smithz852" />
      <add key="ClearTextPassword" value="%NUGET_PACKAGES_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
